<!DOCTYPE html>
<html>
<head>
    <title>{% block Title %}{% endblock Title %}</title>
     {% load static %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Stick&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/linkToDiv.js' %}"></script>
     {% block header %}{% endblock header %}
    {% block headScript %}{% endblock headScript %}
</head>
<body>
        <div class="header">
            <span class="center">Art Walk</span>
        </div>
        <div class="main">

            <table class="nav"><tr>
                <td class="navLink"><a href="{% url 'home' %}" class="white">Home</a></td>
                {% if user.is_authenticated %}
                <td class="navLink"><a href="{% url 'logout' %}" class="white">Logout</a></td>
                {% if user.profile.has_booth %}
                <td class="navLink"><a href="{% url 'view_booth' user.booth.first.pk %}" class="white">View Booth</a></td>
                {% elif user.profile.is_artisan %}
                <td class="navLink"><a href="{% url 'new_booth' %}" class="white">Create Booth</a></td>
                {% endif %}{% else %}
                <td class="navLink"><a href="{% url 'login' %}" class="white">Login</a></td>
                <td class="navLink"><a href="{% url 'signup' %}" class="white">Sign up</a></td>
                {% endif %}
            </tr></table>

            {% block body %}{% endblock body %}
            <script src="{% static 'js/linkToDiv.js' %}"></script>
        </div>
</body>
</html>