{%  extends 'base.html' %}

{% block Title %} View Booth {% endblock %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/booth_profile.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
    <script src="https://player.twitch.tv/js/embed/v1.js"></script>
{% endblock header %}

{% block body %}

<h1 class="fullname">{{ booth.name }}</h1>
<img src="{{ booth.cover_image.url }}" class="cover centered" alt="cover pic">





        {% ifequal booth user.booth.first %}


        {% endifequal %}
        <table class="nav" style="width:90%;margin:auto;"><tr>
            <td class="navLink" onclick="openCity(event, 'Details')">Details</td>
            <td class="navLink" onclick="openCity(event, 'Twitch')">Live Stream</td>
            {% ifequal booth user.booth.first %}
                <td class="navLink" style="cursor:auto;"><a href="{% url 'new_artwork' booth.pk  %}">New Artwork</a></td>
            {% endifequal %}
        </tr></table>

<div id="Details" class="tabcontent" style="padding-top:2%;padding-bottom:2%;">
    <div style="padding:20px;">
        {{ booth.description }}
    </div>
</div>
<div id="Twitch" class="tabcontent">
        <div id="twitch-content" style=";margin-left:5%;margin-right:5%;">
        <div id="twitch-embed" style="display:inline;"></div><script src="https://embed.twitch.tv/embed/v1.js"></script><iframe src="https://www.twitch.tv/embed/{{booth.twitch_name}}/chat?parent=localhost" height="480" width="390" style="border-width:0;"></iframe>
        </div>
</div>

<table class="artworkTable">
        <thead>
            <tr>
                <th>Artwork Picture</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for artwork in booth.artworks.all %}
                <tr>
                    <td><img src="{{ artwork.image.url }}" class="cover centered" alt="cover pic"></td>
                    <td>{{ artwork.name }}</td>
                    <td>{{ artwork.description }}</td>
                    <td>${{ artwork.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


<script type="text/javascript">
    var twitch_name = "{{ booth.twitch_name }}";


  new Twitch.Player("twitch-embed", {
      width: 854,
    height: 480,
    channel: twitch_name
  });
</script>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>

{% endblock %}