{%  extends 'base.html' %}

{% block Title %} View Booth {% endblock %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/booth_profile.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
    <script src="https://player.twitch.tv/js/embed/v1.js"></script>
{% endblock header %}

{% block body %}

<h1 class="fullname">{{ booth.name }}</h1>
<img src="{{ booth.cover_image.url }}" class="cover centered" alt="cover pic">



{% ifequal booth user.booth.first %}
    <div class="mb-4">
        <a href="{% url 'new_artwork' booth.pk  %}" class="btn btn-primary">New Artwork</a>

        Live Stream:

        <div id="twitch-embed"></div>
<script src="https://embed.twitch.tv/embed/v1.js"></script>

<div id="twitch-embed">

{#    <iframe#}
{#  id="chat_embed"#}
{#  src="https://www.twitch.tv/embed/lec/chat?parent=www.google.com"#}
{#  height="500"#}
{#  width="350">#}
{#</iframe>#}





</div>


    </div>

{% endifequal %}




<div class="details">
    <b>Name:</b> {{booth.name}}<br>
    <b>Description:</b> {{ booth.description }}
</div>









    {% for artwork in booth.artworks.all %}
        <br>
        Name: {{ artwork.name }}<br>
        Description: {{ artwork.description }}<br>
        <img src="{{ artwork.image.url }}" class="cover centered" alt="cover pic">
        <br>
        Price: {{ artwork.price }}<br>

    {% endfor %}


<script type="text/javascript">
  new Twitch.Player("twitch-embed", {
      width: 854,
    height: 480,
    channel: "lec"
  });
</script>

{% endblock %}