:root {
  --darkBrown: #583924;
  --lightBrown: #b48051;
  --paperBrown: #e2ccb7;
}

.header {
    width: 100vw;
    height: 10vh;
    background: var(--darkBrown);
    color: white;
    font-size: 50px;
    font-family: 'Stick', sans-serif;
    text-align: center;
    line-height: 80px;
}

body {
    background: var(--lightBrown);
}

a {
    text-decoration:none;
}

.main {
    height: 90vh;
    width: 80vw;
    background: var(--paperBrown);
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 0;
}

table.nav {
    background: #202020;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    color: #cecece;
    border-spacing: 0;
    border-collapse: collapse;
}

.normalize {
    text-decoration:none;
}

.navLink {
    text-decoration: none;
    height: 50px;
    font-size: 20px;
    transition: 1s;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
}

.navLink:hover {
    background: #404040;
}

.white {
    color: white;
}

.center {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
}