/* Root Variables */
:root {
  --darkBrown: #583924;
  --darkerBrown: #49301f;
  --lightBrown: #b48051;
  --paperBrown: #e2ccb7;
  --elegantBlack: #202020;
}

/* Dark Brown Header, where the title goes */
.header {
    width: 100%;
    height: 8vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background: var(--darkBrown);
    color: white;
    font-size: 50px;
    font-family: 'Stick', sans-serif;
    text-align: center;
}

.subheader {
    margin-top: 1%;
    width: 100%;
    height: 5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: black;
    font-size: 30px;
    font-family: 'Stick', sans-serif;
    text-align: center;
}
/* Light Brown Background */
body {
    background: var(--lightBrown);
}

/* Delete link underlining */
a {
    text-decoration:none;
}

/* Lighter brown, where the main content goes */
.main {
    width: 80vw;
    background: var(--paperBrown);
    margin-left: 10vw;
    padding: 0;
    padding-bottom: 5%;
}

/* Navigation Bar */
table.nav {
    background: #202020;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    color: white;
    border-spacing: 0;
    border-collapse: collapse;
}

.normalize {
    text-decoration:none;
}

.navLink {
    text-decoration: none;
    height: 50px;
    font-size: 20px;
    transition: 1s;
    font-family: 'Bebas Neue', cursive;
}

.navLink:hover {
    background: #404040;
}

.white {
    color: white;
    cursor: pointer;
    user-select: none;
}

/* Centering elements */
.center {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
}

/* Scrollbar Width */
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: var(--paperBrown);
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: var(--elegantBlack);
}